body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1f1f1f;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.audio-bar {
  opacity: 0;
  transition: all 0.2s ease-in-out;
  width: 70%;
  height: 2px;
  position: relative;
  margin: auto;
  top: -5px;
  animation: pulseaudiobar 1.5s infinite ease-in-out;
}

@keyframes pulseaudiobar {
  0%,
  100% {
    width: 70%;
    height: 2px;
  }
  50% {
    width: 60%;
    height: 1px;
  }
}

.hide {
  display: none;
}
